<div>
    <div ng-if="user.isAdmin" ng-model=user.isAdmin>
        <uib-accordion close-others="oneAtATime">

            <div uib-accordion-group class="panel-default" heading="{{header}}">
                <h3>Profile is visible {{profileVisability}}</h3>
                <input type="checkbox" name="profile" ng-model="profileVisability" ng-change="changeProfile(profileVisability)">
                <br>
                <!-- <button type="button" class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button> -->
            </div>

        </uib-accordion>

        <form name="form">
            <div class="panel panel-primary" ngf-select ng-model="files" ngf-multiple="true">
                <div class="panel-body">
                    Click to load Image
                </div>
            </div>
            <!-- <button type="submit" ng-click="submit()"></button> -->
            <button ng-disabled="!files" type="button" class="btn btn-primary" ng-click="submit(files)">submit</button>
        </form>
        <br>
        <uib-progressbar max="max" value="dynamic" ng-if="files">
            <span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span>
        </uib-progressbar>
    </div>
    <div class="products gallery">
        <div ng-repeat="src in images track by $index">
            <figure >
                <a ng-click="openModal(src.url)">
                    <img ng-src="{{src.url}}" ng-click="openModal(src.url)"/>fdsdf
                </a>
            </figure>
            <figcaption>
                <a ng-click="openModal(src.url)" class="btn">fdf</a>
            </figcaption>
        </div>

    </div>
</div>
