<!-- <h4>Upload on file select</h4>
<button ngf-select="uploadFiles($files, $invalidFiles)" multiple accept="image/*" ngf-max-height="3000" ngf-max-size="10MB">
      Select Files</button>
<br><br> Files:
<ul>
    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
        <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"
            ng-bind="f.progress + '%'"></div>
      </span>
    </li>
    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
    </li>
</ul>
{{errorMsg}} -->

<div style="margin-top: 20px" class="container">
    <div ngf-drop ngf-select ng-model="file" class="drop-box"
        ngf-drag-over-class="'dragover'" ngf-allow-dir="true"
        accept="image/*"
        ngf-pattern="'image/*'">Drop images here or click to upload</div>
</div>


<div class="gallery">
        <div ng-repeat="src in images" class="img-container">
            <figure>
                <img ng-src="{{src.url}}"/>
                <a href=""><span ng-click="delete(src.url)" class="glyphicon glyphicon-remove"></span></a>
            </figure>
        </div>

</div>
