* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    margin: 0;
    -webkit-text-size-adjust: 100%;
}


/* ----- BUTTONS ----- */

.product-view {
    margin-bottom: 10px;
    padding: 5px;
    text-align: left;
}

.product-view i {
    display: inline-block;
    font-size: 1.5em;
    padding: 10px;
    background: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product-view i.active {
    background: #bbb;
}


/* ----- GALLERY VIEW ----- */

.products.gallery {
    -webkit-column-width: 300px;
    -moz-column-width: 300px;
    column-width: 300px;
    -webkit-column-gap: 5px;
    -moz-column-gap: 5px;
    column-gap: 5px;
    padding: 0 5px;
    font-size: 0;
}

.products.gallery figure {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 0 0 5px 0;
}

.products.gallery figure::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: background 300ms;
    transition: background 300ms;
}

.products.gallery figure img {
    width: 100%;
    height: auto;
}

.products.gallery figure figcaption {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    width: 100%;
    max-height: 100%;
    padding: 20px;
    font-size: 16px;
    font-weight: 500;
    color: #ddd;
    text-shadow: 0 0 1px #000;
    opacity: 0;
    overflow: auto;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    -webkit-overflow-scrolling: touch;
}

.products.gallery figure figcaption::-webkit-scrollbar {
    width: 4px;
}

.products.gallery figure figcaption::-webkit-scrollbar-track {
    background: transparent;
}

.products.gallery figure figcaption::-webkit-scrollbar-thumb {
    background: #bbb;
}

.products.gallery figure figcaption::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.products.gallery figure:hover::after {
    background: rgba(0, 0, 0, 0.3);
}

.products.gallery figure:hover figcaption {
    opacity: 1;
}


/* ----- LIST VIEW ----- */

.products.list {
    padding: 0 5%;
}

.products.list figure {
    width: 100%;
    height: auto;
    max-width: 600px;
    margin: 0 auto 40px;
    background: #eee;
    border: 1px solid #ddd;
}

.products.list figure img {
    width: 100%;
    height: auto;
}

.products.list figure figcaption {
    padding: 20px;
    line-height: 1.4;
}
